.card {
  background-color: white;
  width: 320px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  /* transform: scale(0.2); */
}

.role {
  color: #764ba2;
  font-weight: bold;
  margin-bottom: 10px;
}

.status {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  margin-top: 10px;
}

.placed {
  background-color: #d4edda;
  color: #155724;
}

.looking {
  background-color: #fff3cd;
  color: #856404;
}
